




<% if(results == undefined) {%>
    <h3>results not found</h3>
<% } %>
<ul>
    <%results.forEach(restaurant => { %>
        
        <li>
            <div id = "results-page">
            <a href="/profile/restaurants/<%=restaurant.id%>">
                <%=restaurant.name%>
            </a>
        </div>
        </li>
<% })%>

</ul>

<a href="/">Back to home</a>