
<div class = "searchBox" >
  <form method = "GET" action = "/restaurants">
    <label for= "categories">Search by zipcode:<ts/label>
    <input class="form-control" id = "searchBox" type = "text" name = "zipCode" required>
    <input type= "submit" class="btn btn-success" value= "Search Restaurants">
  </form>
</div>










