


<div class = "home-main">

<div class="row" id = "searchBar">
  <div class="card" style="width: 50rem;">
      <div class="card-body">
        


<form method = "GET" action = "/travelBuddy">
<label for= "categories">Search by zipcode:</label>
<input class="form-control" type = "text" name = "zipCode">
<input type= "submit" class="btn btn-success" value= "Search">
</form>

</div>
</div>
</div>
</div>









<script>
if('geolocation' in navigator){
  console.log('geo available')
  navigator.geolocation.getCurrentPosition(position =>{

     const lat =  position.coords.latitude
     const lon = position.coords.longitude
      console.log(lat);
      console.log(lon);
  })
} else {
    console.log('geo not available')
  }
</script>

