<form method = "GET" action = "/restaurants">
<label for= "categories">Search by:</label>
<input type = "text" name = "zipCode">
<input type= "submit">
</form>



<script>
if('geolocation' in navigator){
  console.log('geo available')
  navigator.geolocation.getCurrentPosition(position =>{

     const lat =  position.coords.latitude
     const lon = position.coords.longitude
      console.log(lat);
      console.log(lon);
  })
} else {
    console.log('geo not available')
  }
</script>

