* {
     margin: 0; padding: 0; 
    }

body{
    background-color:bisque;
    /* font-family: 'Cardo', serif; */
    font-family: 'Oswald', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_1280.jpg");
    height: 100%;
   
}

.main-container {
    background: rgba(238, 211, 211, 0.9);
    width: 75%;
    height: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 13%;
    border-radius: 25px;
    padding-bottom: 25%;
}

.searchBox{
     background-color:white;
    width: 75%;
    margin: 0 auto;
    margin-top: 4%;
    padding: 1%;
    border-radius: 10px;
}




.top-navs{
    text-decoration: none;
    color:red;
    font-size: 1.2em;
}

.login-out{
    position: relative;
    font-size: 1.2em;
    color:green;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;
}



.form-control {
   margin-top: 1%;
   margin-bottom: 2%

}

#auth-password, #auth-email, #new-password,#new-email,#new-name {
    width: 25%;
    border-radius: 8%;
}

.auth, h2{
    margin-top: 3%;
    margin-left: 2%;
}

.log-message{
    margin-left: 15%
}

 #results-page{
    text-decoration: none;
    margin-top: 1.5%;
}

.detail-page{
    margin-top: 3%;
   margin-left: 3%;
   color:rgb(29, 85, 148)

}

.edit-page{
    margin-top: 3%;
   margin-left: 3%;

}
 
#putForm1, #putForm2, #putForm3,#putForm4, #putForm5{
    width: 40%;
}

.profile-container{
    background-color: rgb(189, 81, 81, .5);
    height:90vh;
    margin-top:3%;
}

.searchBox-profile{
    background-color:white;
   width: 75%;
   margin: 0 auto;
  margin-top: 10%;
   padding: 1%;
   border-radius: 10px;
}

.my{
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(76, 76, 143);
}

.profile-restaurants{
    margin-top: 5%;
}

.header{
    margin-left: 3%;
}
    
