<h1 class = "header">All Your Favorite Restaurants</h1>

<div class = "profile-restaurants">
    <ul>
    <% results.forEach(restaurant =>{ %>
        <a class = "my" href = "../travelBuddy/<%=restaurant.id%>"><%= restaurant.name %></a>
        <%= restaurant.restaurantId%>  <br>
      
        <form method = "POST" action= "/profile/restaurants/<%= restaurant.id%>?_method=DELETE">
          
          <button type="submit" class="btn btn-danger">Remove From Faves</button>

        </form> 
          <br>
        
  <%  })%>
    </ul>

  </div>