<h1>All Your Favorite Movies</h1>
<%results.forEach(result => {%>
    <h3>
        ><%= result.restaurant_name %></a>
    </h3>
    <!-- <form action="/restaurant/<%= result.restaurant_id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Remove From Faves</button>
    </form> -->
<%})%>