<h2>Restaurants around</h2>
    <% if(results == undefined) {%>
            <h3>results not found</h3>
    <% } %>
<ul>
    <%results.forEach(restaurant => { %>
        <div id = "results-page">
                <a class = login-out href="/restaurants/<%=restaurant.restaurant_id%>">
                <%=restaurant.restaurant_name%>
            </a>
        </div>
    <% })%>
</ul>

<form action = "/">
    <input type = "submit" class="btn btn-danger" value = "back to home"">
  </form>